.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main";
}

.screen {
  grid-area: header;
}

.titleturn {
  text-align: center;
  font-size: 0.75em;
  color: var(--white);
}

.subgrid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "p1 p2";
  grid-gap: 20px;
}

.player-1 {
  grid-area: p1;
  color: var(--white);
  width: 150px;
  height: 30px;
  background-color: var(--light-gray);
  border-bottom: var(--border-secondary) var(--red);
  justify-self: end;
}

.player-2 {
  grid-area: p2;
  color: var(--white);
  width: 150px;
  height: 30px;
  background-color: var(--light-gray);
  border-bottom: var(--border-secondary) var(--white);
}

.iconplayer {
  height: 16px;
  padding: 5px;
  background-color: var(--light-gray);
}

.score {
  font-size: 1em;
  padding: 5px;
  background-color: var(--light-gray);
  color: var(--white);
  float: right;
}

.imgborder {
  height: 45px;
}

.board {
  grid-area: main;
  width: 320px;
  margin-top: 20px;
  justify-self: center;
}

.imgreset {
  padding: 10px;
  width: 25px;
}

.partborder {
  width: 100px;
  height: 70px;
  float: left;
  padding-top: 30px;
  text-align: center;
}

.name,
.winner,
.reset {
  text-align: center;
  font-size: 0.75em;
  padding: 20px;
  color: var(--white);
}

.footer,
a:link,
a:hover,
a:active,
a:visited {
  color: var(--white);
  font-size: 0.75em;
  text-align: center;
  text-decoration: none;
}

#x1 {
  border-right: var(--border-default);
  border-bottom: var(--border-default);
}

#x2 {
  border-bottom: var(--border-default);
}

#x3 {
  border-left: var(--border-default);
  border-bottom: var(--border-default);
}

#y1 {
  border-right: var(--border-default);
  border-bottom: var(--border-default);
}

#y2 {
  border-bottom: var(--border-default);
}

#y3 {
  border-left: var(--border-default);
  border-bottom: var(--border-default);
}

#z1 {
  border-right: var(--border-default);
}

#z3 {
  border-left: var(--border-default);
}